# Exemplo de configuração de credenciais para o Painel Acronis

# URL base da sua região da Acronis Cyber Protect Cloud
# Exemplos comuns:
# Estados Unidos: https://us-cloud.acronis.com
# Europa: https://eu-cloud.acronis.com
# Brasil / Latam: https://br02-cloud.acronis.com
ACRONIS_URL=https://br02-cloud.acronis.com

# Credenciais de API (Geradas em: Configurações > Clientes API no console Acronis)
CLIENT_ID=399b5e69-7562-4c99-8261-13ef40f97772
CLIENT_SECRET=b4theugalkfu5dzy7yh76lgp5ixtkbltyjcoydgn7tltd5z4zanu
TENANT_ID=SEU_TENANT_ID_OPCIONAL

# Defina como 'true' para testar a interface com dados simulados/mock sem precisar de credenciais reais
MOCK_MODE=false

# Porta onde o servidor irá rodar
PORT=8000
